
li{
    font-size: large;
    font-weight: bold;
    margin-right: 75px;
    margin-left: 75px;
    
}
.logo{
    display: flex;
    overflow-x: auto;
    text-align: center;
    justify-content: center;
}
.line{
    border-right: 6px solid black;
    height: 100px;
    margin-top: 35px;
}
.logo img{
    height: 120px;
    margin-top: 25px;
}  

.text{
    margin-top: 65px;
    margin-left: 15px;
}

.col{
    background-color: #028EE6;
    border-radius: 10px;

}
.col h3{
    margin-left: 10px;
}
.img-fluid{
    width: 100%;
    border-radius: 10px;
    
}